

:root {
    --transparent: transparent;
    --black: #041016;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #f56565;
    --success: #48bb78;
    --warning: #f6e05e;
    --info: #46c4f9;
    --primary: #343440;
    --primary-dark: #EA4B1B;
    --primary-70: #343440;
    --primary-50: #2f2f3a;
    --primary-30: #2a2a33;
    --primary-10: #041016;
    --logo: #343440;
    --sidebar-icon: #EA4B1B;
    --20: #f7fafc;
    --30: #f7fafc;
    --40: #edf2f7;
    --50: #e2e8f0;
    --60: #cbd5e0;
    --70: #a0aec0;
    --80: #718096;
    --90: #4a5568;
    --warning-light: #fefcbf;
    --warning-dark: #f6e05e;
    --success-light: #c6f6d5;
    --success-dark: #48bb78;
    --danger-light: #fed7d7;
    --danger-dark: #f56565;
    --info-light: #c3dafe;
    --info-dark: #fca000;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#343440),
        to(#343440)
    );

    background-image: linear-gradient(
        0deg,
        #343440,
        #343440
    );
}
