
/*:root {*/
/*    --primary: #20222a;*/
/*    --primary-dark: #20222a;*/
/*    --primary-70: #4d4e55;*/
/*    --primary-50: #36383f;*/
/*    --primary-30: #20222a;*/
/*    --primary-10: #1a1b22;*/
/*    --logo: #20222a;*/
/*    --sidebar-icon: #f35668;*/
/*}*/

/*:root {*/
/*    --transparent: transparent;*/
/*    --black: #2d3748;*/
/*    --white: white;*/
/*    --white-50: rgba(255, 255, 255, 0.5);*/
/*    --danger: #f56565;*/
/*    --success: #48bb78;*/
/*    --warning: #f6e05e;*/
/*    --info: #FCA000;*/
/*    --primary: #c3dafe;*/
/*    --primary-dark: #FCA000;*/
/*    --primary-70: #e39000;*/
/*    --primary-50: #ca8000;*/
/*    --primary-30: #b07000;*/
/*    --primary-10: rgba(102, 126, 234, 0.1);*/
/*    --logo: #2d3748;*/
/*    --sidebar-icon: #b3c1d1;*/
/*    --20: #f7fafc;*/
/*    --30: #f7fafc;*/
/*    --40: #edf2f7;*/
/*    --50: #e2e8f0;*/
/*    --60: #cbd5e0;*/
/*    --70: #a0aec0;*/
/*    --80: #718096;*/
/*    --90: #4a5568;*/
/*    --90-half: #2d3748;*/
/*    --warning-light: #fefcbf;*/
/*    --warning-dark: #f6e05e;*/
/*    --success-light: #c6f6d5;*/
/*    --success-dark: #48bb78;*/
/*    --danger-light: #fed7d7;*/
/*    --danger-dark: #f56565;*/
/*    --info-light: #c3dafe;*/
/*    --info-dark: #FCA000;*/
/*}*/

/*.bg-grad-sidebar {*/
/*    background-image: -webkit-gradient(*/
/*            linear,*/
/*            left bottom,*/
/*            left top,*/
/*            from(#2d3748),*/
/*            to(#2d3748)*/
/*    );*/

/*    background-image: linear-gradient(*/
/*            0deg,*/
/*            #2d3748,*/
/*            #2d3748*/
/*    );*/
/*}*/


/*:root {*/
/*    --primary: #20222a;*/
/*    --primary-dark: #20222a;*/
/*    --primary-70: #4d4e55;*/
/*    --primary-50: #36383f;*/
/*    --primary-30: #20222a;*/
/*    --primary-10: #1a1b22;*/
/*    --logo: #20222a;*/
/*    --sidebar-icon: #f35668;*/
/*}*/


:root {
    --transparent: transparent;
    --black: #041016;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #f56565;
    --success: #48bb78;
    --warning: #f6e05e;
    --info: #f7545b;
    --primary: #f64149;
    --primary-dark: #c5343a;
    --primary-70: rgba(38, 157, 221, 0.7);
    --primary-50: rgba(38, 157, 221, 0.5);
    --primary-30: rgba(38, 157, 221, 0.3);
    --primary-10: #041016;
    --logo: #f64149;
    --sidebar-icon: #fff;
    --20: #f7fafc;
    --30: #f7fafc;
    --40: #edf2f7;
    --50: #e2e8f0;
    --60: #cbd5e0;
    --70: #a0aec0;
    --80: #718096;
    --90: #4a5568;
    --warning-light: #fefcbf;
    --warning-dark: #f6e05e;
    --success-light: #c6f6d5;
    --success-dark: #48bb78;
    --danger-light: #fed7d7;
    --danger-dark: #f56565;
    --info-light: #c3dafe;
    --info-dark: #fca000;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#f64149),
        to(#f64149)
    );

    background-image: linear-gradient(
        0deg,
        #f64149,
        #f64149
    );
}
